@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #feeffe;
    

}
.container{
    width: 30%;
    height: 300px;
    background-color: #FF5733;
    /* margin: 20%; */
    top: 30vh;
    left: 30%;
    border-radius: 10px;
    padding: 30px;
    position: relative;
}
.container h2{
    text-align: center;
    font-size: 35px;
}
.input_data input{
    display: block;
    width: 80%;
    height: 40px;
    outline: none;
    margin: 30px;
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
.input_data button{
    display: block;
    width: 82%;
    height: 40px;
    outline: none;
    margin: 30px;
    font-size: 16px;
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    /* border-color: white; */
    border-radius: 5px;
    display: block;
}
        

  .input_data button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 